script(type='text/javascript', src='https://threejs.org/build/three.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/tween.js/17.2.0/Tween.min.js')

script(src='./js/libs.min.js')
script(src='./js/script.js')